Repository BohdanBiliak/Local-First-Observability-Runtime-SDK-Provisioned-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js,json}": ["prettier --write"],
  "*.{md,yml,yaml}": ["prettier --write"],
  "apps/api/**/*.ts": ["eslint --fix"]
}

feat: bootstrap NestJS gateway with health endpoint
  apps/api/.env.example
  apps/api/nest-cli.json
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/health/health.controller.ts
  apps/api/src/health/health.module.ts
  apps/api/src/health/health.service.ts
  apps/api/src/main.ts
  apps/api/tsconfig.json
Due: prettier --write, eslint --fix

chore(lint): fix eslint and prettier configuration
  .lintstagedrc.json
  apps/api/.eslintrc.js
  apps/api/package.json
  apps/api/src/main.ts
  docs/architecture.md
  infra/docker/docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add RabbitMQ publisher with connection lifecycle management
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/messaging/interfaces/event-publisher.interface.ts
  apps/api/src/messaging/messaging.module.ts
  apps/api/src/messaging/publishers/rabbit-event.publisher.ts
  apps/api/src/messaging/publishers/rabbitmq-connection.provider.ts
  apps/api/src/test/test.controller.ts
  apps/api/src/test/test.module.ts
  package-lock.json
Due: prettier --write, eslint --fix

feat: publish versioned log events using shared contracts
  contracts/typescript/example.ts
  contracts/typescript/package-lock.json
  contracts/typescript/package.json
  contracts/typescript/src/base.ts
  contracts/typescript/src/index.ts
  contracts/typescript/src/telemetry/log-captured.v1.ts
  contracts/typescript/tsconfig.json
Due: prettier --write

feat: publish validated telemetry events using shared contracts
  apps/api/package.json
  apps/api/src/messaging/interfaces/telemetry-publisher.interface.ts
  apps/api/src/messaging/messaging.module.ts
  apps/api/src/messaging/publishers/telemetry.publisher.ts
  apps/api/src/test/test.controller.ts
  package-lock.json
Due: prettier --write, eslint --fix

chore: initialize minimal async Rust service
  apps/collector/.gitignore
  apps/collector/Cargo.toml
  apps/collector/README.md
  apps/collector/src/adapters/loki.rs
  apps/collector/src/adapters/mod.rs
  apps/collector/src/config/mod.rs
  apps/collector/src/contracts/mod.rs
  apps/collector/src/lib.rs
  apps/collector/src/main.rs
  apps/collector/src/messaging/consumer.rs
  apps/collector/src/messaging/handler.rs
  apps/collector/src/messaging/mod.rs
  apps/collector/src/processors/log_processor.rs
  apps/collector/src/processors/mod.rs
  apps/collector/src/processors/traits.rs
Due: prettier --write

chore: add tokio runtime and structured logging
  apps/collector/Cargo.toml
  apps/collector/src/main.rs
Due: none

feat(config): add typed environment configuration with fail-fast validation
  apps/collector/.env.example
  apps/collector/Cargo.toml
  apps/collector/src/config/mod.rs
  apps/collector/src/main.rs
Due: none

feat(messaging): add RabbitMQ connection provider with lifecycle management
  apps/collector/Cargo.toml
  apps/collector/src/main.rs
  apps/collector/src/messaging/connection.rs
  apps/collector/src/messaging/mod.rs
Due: none

feat(messaging): add RabbitMQ channel provider with QoS configuration
  apps/collector/src/main.rs
  apps/collector/src/messaging/channel.rs
  apps/collector/src/messaging/mod.rs
Due: none

feat(consumer): add async RabbitMQ consumer with ack/nack handling
  apps/collector/Cargo.toml
  apps/collector/examples/publish_test.rs
  apps/collector/scripts/publish_messages.py
  apps/collector/scripts/publish_test_messages.sh
  apps/collector/src/lib.rs
  apps/collector/src/main.rs
  apps/collector/src/messaging/consumer.rs
  apps/collector/src/messaging/handler.rs
  apps/collector/src/messaging/mod.rs
Due: none

feat(consumer): add robust RabbitMQ consumer with retries, DLQ and graceful shutdown
  apps/collector/examples/publish_retry_test.rs
  apps/collector/src/main.rs
  apps/collector/src/messaging/consumer.rs
Due: none

add: added comprehensive Prometheus-compatible metrics tracking
  apps/collector/Cargo.toml
  apps/collector/src/lib.rs
  apps/collector/src/main.rs
  apps/collector/src/messaging/consumer.rs
  apps/collector/src/metrics/mod.rs
  apps/collector/src/metrics/server.rs
Due: none

chore: DLQ inspection and replay functionality in the NestJS API for managing dead letter queue messages
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/messaging/controllers/dlq.controller.ts
  apps/api/src/messaging/interfaces/dlq.interface.ts
  apps/api/src/messaging/messaging.module.ts
  apps/api/src/messaging/providers/dlq.service.ts
  apps/api/src/metrics/metrics.controller.ts
  apps/api/src/metrics/metrics.module.ts
  apps/api/src/metrics/metrics.service.ts
  apps/collector/Cargo.toml
  apps/collector/examples/publish_retry_test.rs
  apps/collector/examples/publish_test.rs
  package-lock.json
Due: prettier --write, eslint --fix

feat: implement message classification and versioning system
  apps/api/src/messaging/interfaces/dlq.interface.ts
  apps/api/src/messaging/providers/dlq.service.ts
  apps/api/src/messaging/publishers/rabbit-event.publisher.ts
  apps/collector/Cargo.toml
  apps/collector/examples/classification_demo.ts
  apps/collector/scripts/test_classification.sh
  apps/collector/src/contracts/mod.rs
  apps/collector/src/contracts/processing_error.rs
  apps/collector/src/main.rs
  apps/collector/src/messaging/consumer.rs
  docs/message-classification.md
Due: prettier --write, eslint --fix
